<div class="ui vertical footer segment">
    <div class="ui center aligned container">
        <div class="ui inverted section divider"></div>
        &copy; <%= date(new Date(), 'YYYY') %> <a href="/"><%= config.author || config.title %></a>,
        go to <a href="https://github.com/wanjinqing/wanjinqing.github.io" target="_blank">github</a>.
    </div>
</div>
